<div class="flex items-center space-x-2 mt-2 p-4">
  <%= button_to "+", increase_product_path(@product), method: :patch, remote: true, class: "bg-green-500 text-white cursor-pointer rounded px-2 py-1" %>
  <span class="font-bold"><%= @product.quantity %></span>
  <%= button_to "−", decrease_product_path(@product), method: :patch, remote: true, class: "bg-red-500 text-white cursor-pointer rounded px-2 py-1" %>
</div>

